/* 
    height      - Высота жлемента
    width       - Ширина элемента
    margin      - внешие отступы со всех сторон от элемента
    padding     - Внутрение отступы элемента
*/

.btn {
    background-color: brown;
    margin: 10px;
}


/* 
    Если мы хотим дать высоту и ширину кнопке или любому другому элементу
    и не писать лишнего - нужно задать эти параметры родительскому блоку
    В данном случае:
        Дочерний элемент - .btn
        Родительский     - div    
    
*/

div {
    height: 70px;
    width: 120px;
    padding: 10px;
    background-color: red;
}